/* Local Font */
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}


body   {
    font-family: 'Poppins', sans-serif;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.budget-container {
    width: 100%;
    background-color: #ffffffff;
    box-shadow: 0px 0px 10px #88888888;
    padding: 20px;
}

@media only screen and (min-width: 992px) {
    div.budget-container {
        max-width: 1200px;
        margin: 20px;
    }
}

/* header*/
.navbar {
    position: sticky;
    top: 0;
    /* position: fixed;
    top: 0; */
    width: 100%;
    background-color: white;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px #88888888;
}

.list-item {
    width: 100%;
    border-right: 5px solid rgb(255, 123, 0);
    padding: 8px 12px;
    transition: ease-in 200ms;

}

.active {
    background-color:  rgb(255, 123, 0);

}

.list-item:hover {
    background-color:  #ffffffff;
}

.list-item a{
    display: block;
    width: 100%;
    text-align: center;
}


.list-item:last-child {
    border-right: none;
}

/* hgroup, */
.budget-header,
.budget-result-two,
.budget-input
{
    margin-top: 20px;
    margin-bottom: 50px;
}

hgroup {
    font-size: 20px;
    text-transform: capitalize;
}

hgroup > h5 {
    font-size: 40px;
    font-family: "Sofia", sans-serif;
    color: rgb(255, 123, 0);

}

.budget-result {
    /* height: 200px; */
    width: 100%;
    box-shadow: 0px 0px 10px #88888888;
    /* position: relative; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-top: 20px;

}

.budget-result  p.balance{
    font-size: 25px;
}

#budget-result-two {
    font-size: 16px;
    text-align: center;
    background-image:  none;
    background-color: rgb(255, 123, 0)} 


.budget-result-two p.balance
{
    font-size: 12px;
}


.budget-result > .add-icon {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffff;
    color:  #000000;
    border: 5px solid white;
    cursor: pointer;
    transition: ease-in 500ms;
}

.budget-result > .add-icon:hover {
    background-color:  transparent;
    color: #ffffffff;
}

.budget-result-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 1rem;
}



.budget-result:nth-child(1) {
    grid-column: span 3;
    background-image: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 251, 0));
 }
 
.budget-result:nth-child(2) {
background-image: linear-gradient(to right, rgb(255, 251, 0), rgb(255, 123, 0));
    flex-direction: row-reverse;
}

.budget-result-two:nth-child(2) {
    flex-direction: row;

}


.budget-result:nth-child(3) {
background-image: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 251, 0));
}

@media only screen and (min-width: 992px) {
    .budget-result-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    hgroup {
        font-size: 32px;
    }
    
    hgroup > h5 {
        font-size: 40px;    
    }

    .budget-result {
        padding: 40px;
        justify-content: space-between;
        font-size: 25px;
    }

    .budget-result  p.balance{
        font-size: 50px;
    }

    #budget-result-two {
        font-size: 22px;
        line-height: 25pt;
    }
        
    .budget-result-two p.balance
    {
        font-size: 16px;
    }

    .budget-result > .add-icon {
        font-size: 50px;
        width: 100px;
        height: 100px;
}
}




/* Body */

.budget-body {
    font-size: 15px;
    height: auto;
    box-shadow: 0px 0px 10px #88888888;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.budget-output-title {
    margin-bottom: 20px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;

}

.output-list-item {
    /* text-align: center; */
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-content: center; */
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    color: #313131;

}

.output-list-item-two {
    border: none;
    border-left: 4px solid rgb(255, 123, 0);
    width: 100%;


}

.budget-name {
    font-weight: 900;
    color: #000000;
}

.output-list-item button {
    font-size: 15px;
    background-color: rgb(255, 123, 0);
    padding: 4px 8px;
    outline: none;
    border-radius: 40px;
    border: none;
    color: #ffffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.output-list-name {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}



@media only screen and (min-width: 992px) {
    .output-list-name {
    flex-direction: row;
    align-items: center;
    width: 150px;

    }

    .budget-body {
        font-size: 25px;
        padding: 20px;
        
    }

    .output-list-item {
        font-size: 18px;
        justify-content: space-between;
        padding: 20px;
    
    }

    .output-list-item button {
        font-size: 15px;
        background-color: rgb(255, 123, 0);
        padding: 8px 16px;
    }
}


/* Icons */
.fa-square-check,
.fa-calendar-check
{
    color: rgb(255, 123, 0);
}

.fa-solid {
    width: 100%;
    height: 100%;
}


/* Budget input */
.budget-input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
}


.budget-input-div form {
    font-size: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #88888888;
    border-radius: 4px;
}

.budget-input-div form input{
    padding: 4px 8px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;

}

.budget-input-div form input[type=number],
.budget-input-div form input[type=text]

{
    border: 2px solid #eeeeee;
}

.budget-input-div form input[type=submit]{
    color: #ffffffff;
    background-color: rgb(255, 123, 0);
    padding: 4px 8px;
    width: 150px;
    cursor: pointer;

}

.budget-input-div form input::placeholder {
    font-family: 'Poppins', sans-serif;
}

input[type=checkbox]  {
    width: 25px;
    height: 25px;
    padding: 20px;
    /* accent-color: rgb(255, 123, 0); */
    outline: 2px solid rgb(255, 123, 0);
}

li {
    list-style-type: none;
    color: #555;
}

li.checked {
    text-decoration: line-through;
}

.red {
    background-color: red;
    padding: 5px;
}

.green {
    background-color: green;
    padding: 5px;
}

.clear-btn {
    color: #ffffffff;
    background-color: rgb(255, 123, 0);
    padding: 4px 8px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
}

@media only screen and (min-width: 992px) {
    .budget-input-div {
        flex-direction: row;
        gap: 20px;
    }
    
    
    .budget-input-div form {
        font-size: 20px;
        padding: 20px;
    }

    .budget-input-div form input{
        padding: 8px 16px;
        margin: 10px 0;
        font-size: 20px;       
    }

    .budget-input-div form input[type=submit]{
        padding: 8px 16px;
        width: 200px;
    
    }
}